@tailwind base;
@tailwind components;
@tailwind utilities;

/* Navbar */
.active {
    position: relative;
}

.active::before,
.active::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 50%;
    height: 2px;
    background-color: white;
}

.active::before {
    left: 0;
}

.active::after {
    right: 0;
}
/* Navbar */

/* About */
/* Card */
.splide__arrow--prev {
    left: -1em !important;
}

.splide__arrow--next {
    right: -1em !important;
}

.splide__arrow {
    background-color: rgb(30 41 59) !important;
}

.splide__arrow svg {
    fill: white !important;
}

.splide__pagination__page.is-active {
    background: rgb(30 41 59) !important;
}
/* Card */
/* About */
